@media screen and (min-width: 1200px ) and (max-width: 1440px){
    .hero-container{
        padding: 20px 110px;
        gap: 25px;
    }

    .hero-right img{
        left: 25%;
    }

    #pop1{
        right: 30px;
    }

    #pop2{
        left: 15px;
    }
}

@media screen and (max-width: 1024px){
    .hero-container{
        padding: 10px 40px;
        height: 600px;
        gap: 12px;
    }

    .hero-text{
    }

    .hero-tittle{
        font-size: 3rem;
    }

    button{
        padding: 10px 20px;
        font-size: 1rem;
    }

    .hero-right{
    }

    .hero-right img{
        left: 17%;
    }

    .popup{
        width: 120px;
        height: 70px;
    }

    .popup h3{
        font-size: 1.5rem;
    }

    .popup p{
        font-size: .85rem;
    }

    #pop2{
        width: 150px;
        height: 90px;
        left: 10px;
        bottom: 30;
    }

    #pop2 h3{
        font-size: 1.5rem;
    }

    #pop2 .poptext p{
        font-size: .85rem;
    }

    .cirle{
        width: 30px;
        height: 30px;
    }

    .run-container{
        gap: 40px;
    }

}

@media screen and (max-width: 1080px) {
    .nav-container{
        padding: 20px 60px;
    }

    .nav-items{
        width: 60%;
    }

    .card-container{
        gap: 20px;
    }

    .bmi-table{
        padding: 0;
    }

    .trainer{
        width: 200px;
        height: 150px;
    }

    .text-area{
        line-height: 10px;
    }

    .text-area h5{
        font-size: 1.25rem;
    }

    .text-area p{
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 768px){
    .nav-container{
        padding: 10px 30px;
    }

    .nav-items{
        width: 65%;
    }

    .hero-container{
        padding: 10px 15px;
        margin-bottom: 20px;
    }

    .hero-tittle{
        font-size: 2rem;
    }

    .hero-right img{
        left: 5%;
    }

    #pop1{
        top: 80px;
        right: 18px;
    }

    .habit-container{
        height: 100vh;
    }

    .card-container{
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 24px;
    }

    .card{
        margin: 0 auto;
    }

    .run-tittle{
        font-size: 2rem;
    }

    .run-container{
        gap: 40px;
    }

    .bmi-main-container{
        padding: 10px;
    }

    .bmi-main{
        flex-direction: column;
        gap: 24px;
    }

    .bmi-table{
        width: 100%;
    }

    .bmi-inputs{
        width: 100%;
    }

    .bmi-input-main select:last-child{
        width: 67%;
    }
}

@media screen and (max-width: 576px) {
    .nav-items{
        display: none;
    }

    .menu-icon{
        display: block;
        font-size: 2rem;
        color: var(--tittle);
    }

    .hero-container{
        flex-direction: column;
        height: 100%;
    }

    .hero-text{
        width: 100%;
    }

    .hero-right{
        width: 100%;
        height: 65vh;
    }

    .hero-right img{
        left: 20%;
    }

    #pop1{
        right: 80px;
    }

    .habit-description{
        width: 70%;
    }

    .card-container{
        width: 100%;
    }

    .run-container{
        flex-direction: column;
    }
    
    .run-left{
        width: 100%;
        margin: auto;
    }

    .run-right{
        width: 100%;
        margin: auto;
    }

    .run-left button{
        margin: auto;
    }

    .train-image-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .img3{
        display: none;
    }

    .img5{
        display: none;
    }

    .img6{
        display: none;
    }

    .bmi-input-main{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .bmi-input-main input, select{
        width: 80%;
    }

    .bmi-input-main select:last-child{
        width: 80%;
    }

    .team-container{
        grid-template-columns: 1fr;
    }

    .trainer{
        width: 80%;
        height: 400px;
    }
}

@media screen and (max-width: 425px){
    .hero-right img{
        left: 10%;
    }
    
    #pop1{
        right: 20px;
    }

    .hero-container{
        margin-bottom: 0;
    }

    .habit-container{
        height: 100%;
    }

    .card-container{
        grid-template-columns: 1fr ;
        gap: 30px;
    }

    .run-left button{
        margin: auto;
        width: 90%;
    }
}