@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face{
    font-family: 'Miama';
    src: url(../Miama.ttf);
}

:root{
    --fontMain: "Inter", sans-serif;

    --colorMain: rgb(230, 83, 60);
    --tittle: rgb(255, 255, 255);
    --text: rgba(255, 255, 255, 0.5);

    --colorBG: rgb(34, 34, 34);
}

html{
    scroll-behavior: smooth;
    background-color: black;
}

header{
    background-color: transparent;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 120px;
}

.nav-logo{
    font-size: 2.25rem;
    font-weight: 800;
    color: var(--colorMain);
    font-style: italic;
    font-family: var(--fontMain);
}

.nav-items{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 46px;
    padding: 5px;
}

.nav-items ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-items li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 90px;
    border-radius: 46px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.nav-items li:hover{
    background-color: var(--colorMain);
}

.nav-items a{
    text-decoration: none;
    color: var(--tittle);
    font-weight: 600;
    font-family: var(--fontMain);
}

.menu-icon{
    display: none;
}

/* navbar ends here */

/* banner srction */

.hero-container{
    width: 100%;
    padding: 20px 200px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    gap: 50px;
    height: 715px;
}

.hero-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;
}

.hero-tittle{
    font-size: 4.5rem;
    font-weight: 900;
    font-family: var(--fontMain);
    color: var(--tittle);
    line-height: 65px;
    width: 100%;
}

.hero-tittle span{
    font-family: 'Miama';
    font-size: 6rem;
}

.hero-description{
    font-size: 1rem;
    color: var(--text);
    font-family: var(--fontMain);
    font-weight: 400;
    line-height: 25px;
}

.hero-description span{
    color: var(--colorMain);
}

.button-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

button{
    padding: 16px 40px;
    border-radius: 42px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    font-family: var(--fontMain);
    background-color: var(--colorMain);
    color: var(--tittle);
}

.button-container button:last-child{
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
}

.hero-right{
    width: 50%;
    position: relative;
}

.hero-right img{
    position: absolute;
    bottom: 0;
    left: 30%;
}

.popup{
    width: 193px;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}

.popup h3{
    font-size: 2.5rem;
    font-weight: 900;
    font-family: var(--fontMain);
    color: var(--tittle);
}

.popup p{
    font-size: 1rem;
    font-family: var(--fontMain);
    color: var(--text);
    font-weight: 400;
}

#pop1{
    position: absolute;
    right: 100px;
    top: 200px;
}

#pop2{
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    position: absolute;
    bottom: 100px;
    left: 100px;

}

#pop2 h3{
    font-size: 1.75rem;

}

.cirle{
    background-color: var(--colorMain);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cirle i{
    font-size: 1.3rem;
    color: var(--tittle);
}


/* habit section styling */

.habit-container{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habit-tittle {
    font-size: 3rem;
    font-weight: 900;
    font-family: var(--fontMain);
    color: var(--tittle);
    width: 100%;
    text-align: center;
    margin-bottom: 14px;
}

.habit-description{
    width: 671px;
    margin: 0 auto 54px;
    text-align: center;
    font-size: 1rem;
    color: var(--text);
    font-weight: 400;
    font-family: var(--fontMain);
}

.card-container{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.card{
    width: 231px;
    height: 274px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px 10px;
    margin: 0 auto;
}

.card img{
    border-radius: 50%;
    margin-bottom: 30px;
}

.card h5{
    font-size: 1.125rem;
    color: var(--tittle);
    font-family: var(--fontMain);
    font-weight: 600;
}

.card p{
    font-size: 1rem;
    font-family: var(--fontMain);
    color: var(--text);
    text-align: center;
}