@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face{
    font-family: 'Miama';
    src: url(../Miama.ttf);
}

:root{
    --fontMain: "Inter", sans-serif;

    --colorMain: rgb(230, 83, 60);
    --tittle: rgb(255, 255, 255);
    --text: rgba(255, 255, 255, 0.5);

    --colorBG: rgb(34, 34, 34);
}

html{
    scroll-behavior: smooth;
    background-color: black;
}

header{
    background-color: transparent;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 120px;
}

.nav-logo{
    font-size: 2.25rem;
    font-weight: 800;
    color: var(--colorMain);
    font-style: italic;
    font-family: var(--fontMain);
}

.nav-items{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 46px;
    padding: 5px;
}

.nav-items ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-items li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 90px;
    border-radius: 46px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.nav-items li:hover{
    background-color: var(--colorMain);
}

.nav-items a{
    text-decoration: none;
    color: var(--tittle);
    font-weight: 600;
    font-family: var(--fontMain);
}

.menu-icon{
    display: none;
}

/* navbar ends here */

/* banner srction */

.hero-container{
    width: 100%;
    padding: 20px 200px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    gap: 50px;
    height: 715px;
}

.hero-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;
}

.hero-tittle{
    font-size: 4.5rem;
    font-weight: 900;
    font-family: var(--fontMain);
    color: var(--tittle);
    line-height: 65px;
    width: 100%;
}

.hero-tittle span{
    font-family: 'Miama';
    font-size: 6rem;
}

.hero-description{
    font-size: 1rem;
    color: var(--text);
    font-family: var(--fontMain);
    font-weight: 400;
    line-height: 25px;
}

.hero-description span{
    color: var(--colorMain);
}

.button-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

button{
    padding: 16px 40px;
    border-radius: 42px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    font-family: var(--fontMain);
    background-color: var(--colorMain);
    color: var(--tittle);
    cursor: pointer;
}

.button-container button:last-child{
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
}

.hero-right{
    width: 50%;
    position: relative;
}

.hero-right img{
    position: absolute;
    bottom: 0;
    left: 30%;
}

.popup{
    width: 193px;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}

.popup h3{
    font-size: 2.5rem;
    font-weight: 900;
    font-family: var(--fontMain);
    color: var(--tittle);
}

.popup p{
    font-size: 1rem;
    font-family: var(--fontMain);
    color: var(--text);
    font-weight: 400;
}

#pop1{
    position: absolute;
    right: 100px;
    top: 200px;
}

#pop2{
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    position: absolute;
    bottom: 100px;
    left: 100px;

}

#pop2 h3{
    font-size: 1.75rem;

}

.cirle{
    background-color: var(--colorMain);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cirle i{
    font-size: 1.3rem;
    color: var(--tittle);
}


/* habit section styling */

.habit-container{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habit-tittle {
    font-size: 3rem;
    font-weight: 900;
    font-family: var(--fontMain);
    color: var(--tittle);
    width: 100%;
    text-align: center;
    margin-bottom: 14px;
}

.habit-description{
    width: 671px;
    margin: 0 auto 54px;
    text-align: center;
    font-size: 1rem;
    color: var(--text);
    font-weight: 400;
    font-family: var(--fontMain);
}

.card-container{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.card{
    width: 231px;
    height: 274px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px 10px;
    margin: 0 auto;
}

.card img{
    border-radius: 50%;
    margin-bottom: 30px;
}

.card h5{
    font-size: 1.125rem;
    color: var(--tittle);
    font-family: var(--fontMain);
    font-weight: 600;
}

.card p{
    font-size: 1rem;
    font-family: var(--fontMain);
    color: var(--text);
    text-align: center;
}

/* run card  */

.run-container{
    max-width: 90%;
    margin: 100px auto 0;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 30px 32px;
    display: flex;
    justify-content: space-evenly;
    gap: 165px;
}

.run-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.run-tittle{
    font-size: 3rem;
    font-family: var(--fontMain);
    color: var(--tittle);
    font-weight: 900;
    margin-bottom: 14px;
}

.run-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--fontMain);
    margin-bottom: 34px;
}

.run-left button{
    width: 50%;
}

.run-right{
    width: 366px;
    height: 312px;
    border-radius: 16px;
    background-image: url(../images/run.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* training section */

.training-container{
    width: 90%;
    margin: 100px auto 88px;
    display: flex;
    flex-direction: column;
}

.train-text-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 58px;
}

.train-tittle{
    font-size: 3rem;
    font-weight: 900;
    font-family: var(--fontMain);
    color: var(--tittle);
}

.train-description{
    color: var(--text);
    font-size: 1rem;
    font-family: var(--fontMain);
    font-weight: 400;
}

.train-image-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
}

#img{
    width: 100%;
    height: 240px;
    position: relative;
}

#img p{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 1rem;
    font-family: var(--fontMain);
    /* color: ;rgb(0, 0, 0) */
    color: white;
    font-weight: 500;
}

.img1{
    grid-row: 1 / 2;
    background: linear-gradient(180deg, rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5)), url(../images/exercise1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img2{
    grid-column: 2 / 7;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)), url(../images/exercise2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img3{
    grid-column: 7 / 9;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/exercise3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img4{
    grid-column: 1 / 5;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/exercise4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img5{
    grid-column: 5 / 6;
    background: linear-gradient(180deg, rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3)), url(../images/exercise5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img6{
    grid-column: 6 / 9;
    background: linear-gradient(180deg, rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3)), url(../images/exercise6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* bmi section */

.bmi-container{
    width: 100%;
    margin: 0 auto 88px;
}

.bmi-text-container{
    width: 100%;
    margin: 0 auto 88px;
}

.bmi-tittle{
    margin: 0 auto 14px;
    font-family: var(--fontMain);
    font-size: 3rem;
    font-weight: 900;
    color: var(--tittle);
    text-align: center;
}

.bmi-description{
    width: 60%;
    margin: 0 auto;
    font-family: var(--fontMain);
    font-size: 1rem;
    font-weight: 400;
    color: var(--text);
    text-align: center;
}

.bmi-main-container{
    width: 100%;
    background-color: rgb(34, 34, 34);
    padding: 52px;
}

.bmi-main{
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.bmi-table{
    width: 50%;
    padding-left: 200px;
}

.table-tittle{
    font-size: 1.85rem;
    font-family: var(--fontMain);
    color: var(--tittle);
    font-weight: 700;
    margin-bottom: 52px;
}

table, th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
}

th,td{
    padding: 15px 20px;
}

table{
    border-collapse: collapse;
}

th{
    color: rgb(255, 255, 255);
}

td{
    color: rgba(255, 255, 255, 0.5);
}

.bmi-inputs{
    width: 50%;
}

.bmi-input-tittle{
    font-size: 1.85rem;
    font-family: var(--fontMain);
    color: var(--tittle);
    font-weight: 700;
    margin-bottom: 14px;
}

.bmi-input-description{
    width: 80%;
    color: var(--text);
    font-family: var(--fontMain);
    font-weight: 400;
    margin-bottom: 34px;
}

.bmi-input-main{
    width: 100%;   
}

.bmi-input-main input, select{
    padding: 12px 40px;
    margin: 0 12px 12px 0;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    color: var(--text);
    background-color: rgba(255, 255, 255, 0.1);
}


.bmi-input-main input, select::placeholder{
    color: var(--tittle);
}

.bmi-input-main input, select:focus{
    border: none;
}


/* unique section */
.unique-container{
    width: 90%;
    margin: 8rem auto;
    background-color: var(--colorBG);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.unique-text{
    text-align: center;
}

.unique-text h4{
    color: grey;
    opacity: 0.4;
    font-family: var(--fontMain);
    margin: 0.5rem;
}

.unique-text h3{
    font-size: 3rem;
    font-family: var(--fontMain);
    font-weight: 700;
    color: var(--tittle);
    margin: 1rem;
}

.unique-text p{
   color: var(--text);
   font-family: var(--fontMain);
   margin-bottom: 2rem;
}

.unique-card{
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    cursor: pointer;
}

.uniqueCard{
    width: 100%;
    height: 30vh;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
}

#uniqueCard1{
    background-image: url(/images/exercise1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.uniqueCard .content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    padding: 5rem;
    display: flex;
    backdrop-filter: blur(2px);
    background-color: rgba(128, 128, 128, 0.473);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(100%);
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.uniqueCard:hover .content{
    transform: translateY(0%);
}

.content h4{
    font-size: 2rem;
    font-family: var(--fontMain);
    font-weight: 600;
    color: var(--tittle);
}

.content p{
    color: var(--text);
    font-family: var(--fontMain);
    margin-bottom: 0.5rem;
}

#uniqueCard2{
    background-image: url(/images/exercise2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#uniqueCard3{
    background-image: url(/images/exercise3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* trainer section */

.team-section{
    width: 90%;
    margin: 88px auto 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-tittle{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-family: var(--fontMain);
    font-weight: 900;
    color: var(--tittle);
    margin-bottom: 14px;
}

.team-description{
    width: 60%;
    font-size: 1rem;
    font-family: var(--fontMain);
    font-weight: 400;
    color: var(--text);
    text-align: center;
    margin-bottom: 58px;
}

.team-description span{
    color: var(--colorMain);
}

.team-container{
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.trainer{
    width: 326.67px;
    height: 272px;
    position: relative;
    margin: auto;
}

.text-area{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.text-area h5{
    font-size: 1.5rem;
    color: var(--tittle);
    font-family: var(--fontMain);
    font-weight: 700;
}

.text-area p{
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--fontMain);
    color: var(--text);
}

.trainer:nth-child(1){
    background: url(../images/trainer1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.trainer:nth-child(2){
    background: url(../images/trainer2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.trainer:nth-child(3){
    background: url(../images/trainer3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.trainer:nth-child(4){
    background: url(../images/trainer4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.trainer:nth-child(5){
    background: url(../images/trainer5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.trainer:nth-child(6){
    background: url(../images/trainer6.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
}

/* footer area */

.footer-container{
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
}

.footer-main{
    width: 100%;
    display: flex;
    gap: 24px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
}

.footer-col1{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-col1 .logo{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--colorMain);
    font-style: italic;
    font-family: var(--fontMain); 
}

.footer-description{
    width: 80%;
    font-size: 1rem;
    font-family: var(--fontMain);
    color: var(--text);
    font-weight: 400;
}

.footer-col2{
    width: 30%;
}

.footer-col2 h3{
    font-size: 2rem;
    color: var(--tittle);
    font-family: var(--fontMain);
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-col2 ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-col2 li{
    list-style: none;
    font-size: 1rem;
    color: var(--text);
    font-weight: 600;
    font-family: var(--fontMain);
    cursor: pointer;
    transition: all 250ms;
}

.footer-col2 li:hover{
    color: var(--tittle);
}

.footer-col3{
    width: 30%;   
}

.footer-col3 h3{
    font-size: 2rem;
    color: var(--tittle);
    font-family: var(--fontMain);
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-col3 ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-col3 li{
    list-style: none;
    font-size: 1rem;
    color: var(--text);
    font-weight: 600;
    font-family: var(--fontMain);
    cursor: pointer;
    transition: all 250ms;
}

.footer-col3 li:hover{
    color: var(--tittle);
}

.footer-container hr{
    width: 60%;
    margin: 40px auto 40px;
}

.copyright{
    font-size: 1rem;
    font-family: var(--fontMain);
    font-weight: 600;
    color: var(--text);
}

.copyright p{
    cursor: not-allowed;
    transition: all 230ms ease;
}

.copyright p:hover{
    color: var(--colorMain);
}